.section {
    background-color: black;
    min-height: 100vh;
    padding: 50px;

}

.title {
    text-align: center;
    color : #FFCF0F;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 68px;
}

.all_contents {
    width: 95%;
    height: auto;
    margin: 0 auto;

}

/* project content 공통 */
.content_even,
.content_odd {
    display: flex;
    width: fit-content;
    border-radius: 12px;
}

.content_even {
    margin: 10px 20px 40px auto; /* 시계 방향 순서 상 우 하 좌*/
}

.content_odd {
    margin: 10px auto 40px 20px; /* 시계 방향 순서 상 우 하 좌*/

    flex-direction: row-reverse;
}

.texts {
    margin: auto 30px;
}

.project_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.description {
    font-size: 12px;
    white-space: pre-wrap; /* db의 줄바꿈 인식 */
    max-width: 320px;
    line-height: 1.6;
    background-image: url("../../../public/images/skills_content_background.svg");
    padding: 8px 16px;
    border-radius: 12px;


}

.thumbnail {
    border-radius: 10px;
    /*    width: 240px;
        height: 240px; image 마다 적당한 크기 다를 수 있으니 tsx 에서 조절 */
}
