/* fin */

.section {
    background-color: black;
    min-height: 100vh;
    padding: 50px;
}

.title {
    text-align: center;
    color : #FFCF0F;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 68px;
}

.all_contents {
    width: 95%;
    height: auto;
    margin: 0 auto;

}

/* project content 공통 */
.content_even,
.content_odd {
    display: flex;
    width: fit-content;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 변화 부드럽게 */
}


.content_even:hover, .content_odd:hover {
    transform: scale(1.05); /* 5% 크게 */
}

.content_even {
    margin: 10px 20px 40px auto; /* 시계 방향 순서 상 우 하 좌*/
}

.content_odd {
    margin: 10px auto 40px 20px; /* 시계 방향 순서 상 우 하 좌*/

    flex-direction: row-reverse; /* 내부 요소 반대로 배치 */
}

.texts {
    margin: auto 30px;
}

.project_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.description {
    font-size: 12px;
    white-space: pre-wrap; /* db의 줄바꿈 인식 */
    max-width: 320px;
    line-height: 1.6;
    background-image: url("../../../public/images/skills_content_background.svg");
    padding: 8px 16px;
    border-radius: 12px;


}

.thumbnail {
    border-radius: 10px;
    width: 240px;
    height: 200px;
}



/* 모바일용 미디어 쿼리 (768px 이하) */
@media (max-width: 768px) {
    .section {
        padding: 20px;
        min-height: auto;
    }

    .title {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .all_contents {
        width: 100%; /* 모바일은 가로가 너무 작아서 100%으로 늘림 */

    }

    .content_even, .content_odd {
        margin: 40px 0;
    }

    .texts {
        margin: 20px 0;
        text-align: center;
        max-width: 100%;
    }

    .description {
        padding: 5px 10px;
    }

    .thumbnail {
        /* 모바일에선 content_even, odd 의 margin을 설정하면 화면이 예쁘게 안나옴 : 가로가 너무 작아서
         text 와 thumbnail을 margin 조금만 주어서 띄움 */
        margin: 8px;
        width: 184px;
        height: 160px;
    }
}



