.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;        /* 가로 꽉 채우기 */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;    /* 양옆 여백 */
    height: 70px;       /* 높이 명시 */
    background-color: black;
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 */
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.nav {
    display: flex;
    gap: 30px;
}

/* 마우스 올렸을 때 포인터로 변경 */
.nav a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #FFCF0F;
}