/* fin */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;        /* 가로 꽉 채우기 */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;    /* 양옆 여백 */
    height: 70px;       /* 높이 명시 */
    background-color: black;
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 */
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.nav {
    display: flex;
    gap: 30px;
}

/* 마우스 올렸을 때 포인터로 변경 */
.nav a,
.nav span,
.logo span {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* a 는 ScrollLink 에 내장된 것 */
.nav a:hover,
.nav span:hover,
.logo:hover,
.logo span:hover {
    color: #FFCF0F;
}

/* 외부 라이브러리 (Scroll Link 가 주입한 active는 css modules 내에서 바로 사용할 수 없음
:global 로 active 접근
 active 클래스는 spy={true} 로 인해 현재 보고 있는 id의 페이지에 active 클래스 주입한 것임 */
.nav :global(.active) {
    color: #FFCF0F;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .header {
        padding: 0 20px;
        height: 60px;
    }

    .logo {
        font-size: 18px;
    }

    .nav {
        gap: 20px;
    }

    .nav a,
    .nav span {
        font-size: 14px;
    }
}


