.section {
    min-height: 100vh;
    padding: 50px;

    background-color: black;
    background-image: url('../../../public/images/LandingPageBG.svg'), url('../../../public/images/LandingPageBG2.svg');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

.title {
    color: white;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.2;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .section {
        height: 100vh;
        padding: 20px;
        background-size: cover, cover;
        background-position: center center, center center;
    }

    .title {
        font-size: 48px;
        padding: 0 10px;
        white-space: normal;
        word-break: break-word;
        line-height: 1.1;
    }
}

@media (max-width: 480px) {
    .section {
        height: 100vh;
        padding: 15px;
    }

    .title {
        font-size: 36px;
        padding: 0 10px;
        line-height: 1.1;
    }
}

@media (max-width: 414px) {
    .section {
        height: 100vh;
        padding: 10px;
    }

    .title {
        font-size: 32px;
        padding: 0 5px;
        line-height: 1.1;
    }
}

