.section {
    background-color: black;
    min-height: 100vh;
    padding: 50px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title {
    text-align: center;
    color : #FFCF0F;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 96px;
}

.explain {
    font-size: 40px;
    margin-bottom: 280px;
}

.test_button {
    width: 160px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 32px;
    background-color: #FFCF0F;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}