.section {
    background-color: black;
    min-height: 100vh;
    padding: 50px;
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title {
    border: 1px solid white;
    text-align: center;
    color : #FFCF0F;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 96px;
}

.explain {
    font-size: 40px;
    margin-bottom: 280px;
}

.test_button {
    font-size: 24px;
    width: fit-content;

}