.section {
    background-color: black;
    min-height: 100vh;
    padding: 70px 50px 50px 50px;
    border: 1px solid white;
}

.title {
    text-align: center;
    color : #FFCF0F;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .section {
        padding: 50px 20px;
        border: none;
    }

    .title {
        font-size: 32px;
        margin-left: 0;
    }
}
